@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@theme {
	--color-reddish-pink: #32a852;
	--color-light-tomato: #f60000;
	--color-light-pink: #f5c1dad9;
	--color-dark-navy: #00011b;
	--color-light-gray: #e1e1f2;
	--color-veryLight-green: #edf5ff;
	--color-darkBlue: #000358;
	--color-lighterGray: #f5f5f5;
	--color-starGold: #f8be00;
	--color-lighterBlue: #5da3ff;
	--color-pureBlue: #0455bf;
	--color-lighter-blue: #edf5ff;
	--color-purePink: #cc0058;
	--color-pureGold: #ac4e01;
	--color-horseBlood: #8d0e21;

	--font-roboto: 'Roboto';
}

html,
body,
#root,
.app {
	height: 100%;
	width: 100%;
	font-family: 'Roboto';
}
